/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #7e7e7e;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-family2: 'Lexend', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}


@media (max-width: 600px) {
}


.header
{
    display: flex;
}


.parallax img
{
    position: relative;
    left: -20%;
    height: 15vh;
}
.parallax
{
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
background-color: #000;
margin: auto;
}


.header{
    display: flex;
    justify-content: center;
    margin: auto;
}

.body{
    display: flex;
    justify-content: center;
    margin: auto;
}

.navbar
{
    display: flex;
    align-content: space-between;
    /* flex-direction: row; */
}


p {
    display: flex;
    justify-content: center;
    align-content: space-between;
    height: 300px; /* Or whatever */
}


section{
    display: flex;
}


.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}



.list-link.current{
    color: var(--light-color);
}

